
@{
    ViewData["Title"] = "Index";
}
@using OnlineShop.Models;
@model IEnumerable<Products>


<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Products List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"> <i class="fas fa-plus"></i> New Product</a>
    </div>
</div>
<br />
<table class="table table-striped border">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(c => c.Name)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Price)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.productColor)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.isAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.ProductTypesId)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.SpecialTagId)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.productColor</td>
            <td>@item.isAvailable</td>
            <td>@item.ProductTypes.ProductType</td>
            <td>@item.SpecialTags.specialtagname</td>
            <td>  <partial name="_ButtonPartial" model="@item.Id" /></td>
        </tr>
    }
</table>